:root{
  --blue-ultra-light: #3366FF0F;
  --blue-light: #ACD7F2;
  --blue: #3465BF;
  --blue-dark: #2F3973;
  --yellow-light: #F2DEA2;  
  --orange: #FF4133;
  --pink: #FFA9C4;
  --grey-light: #F8F9FA;
  --white: #FFFF;
  --gradient-color: linear-gradient(90deg, #002366 0%, #3465BF 100%);
  --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 6px 10px rgba(57, 56, 61, 0.205);
  --roboto-font: 'Roboto', sans-serif;
  --anton-font: 'Anton', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--roboto-font);
}

main{ margin-top: 135px; }

/* ============== LOADING ============= */
.loading{ width: 95%; height: 45vh; background: #f2f2f2; display: flex; align-items: center; justify-content: center; }
.loading-box{ width: 80px; height: 80px; overflow: hidden; position: relative;}
.loading-box .lb{
  border-radius: 50%;
  border-left: 4px solid;
  border-right: 4px solid;
  border-top: 4px solid transparent !important;
  border-bottom: 4px solid transparent !important;
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.loading-box .lb1{
  width: 60px; height: 60px;
  border-color: var(--blue-dark);
  animation: rotation 2s infinite;
}
.loading-box .lb2{
  width: 50px; height: 50px;
  border-color: var(--blue);
  animation: rotation 2s infinite;
  animation-delay: .2s;
}
.loading-box .lb3{
  width: 40px; height: 40px;
  border-color: var(--blue-light);
  animation: rotation 2s infinite;
  animation-delay: .4s;
}
.loading-box .lb4{
  width: 30px; height: 30px;
  border-color: var(--blue-dark);
  animation: rotation 2s infinite;
  animation-delay: .5s;
}

@keyframes rotation{
  0%{ transform: translate(-50%, -50%) rotate(0deg); }
  50%{ transform: translate(-50%, -50%) rotate(-180deg); }
  100%{ transform: translate(-50%, -50%) rotate(0deg); }
}

@media (max-width: 768px){
  .loading{ width: 95%; height: 120px;}
  .loading-box{ width: 50px; height: 50px;}
  .loading-box .lb{
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid transparent !important;
    border-bottom: 2px solid transparent !important;
  }
  .loading-box .lb1{ width: 40px; border-color: var(--blue-dark); height: 40px;}
  .loading-box .lb2{width: 30px; border-color: var(--blue); height: 30px;}
  .loading-box .lb3{ width: 20px; border-color: var(--blue-light); height: 20px;}
  .loading-box .lb4{ width: 10px; border-color: var(--blue-dark); height: 10px;}
}