:root{
  --blue-ultra-light: #3366FF0F;
  --blue-light: #ACD7F2;
  --blue: #3465BF;
  --blue-dark: #2F3973;
  --yellow-light: #F2DEA2;  
  --orange: #FF4133;
  --pink: #FFA9C4;
  --grey-light: #F8F9FA;
  --white: #FFFF;
  --gradient-color: linear-gradient(90deg, #002366 0%, #3465BF 100%);
  --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 6px 10px rgba(57, 56, 61, 0.205);
  --roboto-font: 'Roboto', sans-serif;
  --anton-font: 'Anton', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--roboto-font);
}

main{ margin-top: 135px; }

/* ============== LOADING ============= */
.loading{ width: 95%; height: 45vh; background: #f2f2f2; display: flex; align-items: center; justify-content: center; }
.pulse{
	border-radius: 50%;
	width: 80px; height: 80px;
	background: var(--blue-ultra-light);
}

.pulse::after{
	content: '';
	position: absolute;
  width: 85px; height: 85px;
  border-radius: 50%;
	z-index: 1;
	background: var(--blue-light);
	animation: pulse 1s ease infinite
}

@keyframes pulse{
	from { transform: scale(1); opacity: 1 }
	to { transform: scale(2); opacity: 0 }
}

@media (max-width: 768px){
  .loading{ width: 95%; height: 120px;}
  .pulse{ width: 30px; height: 30px;}
  .pulse::after{ width: 35px; height: 35px;}
}