/* ======= CAROUSEL PART ======== */
.book__list{ width: 100% !important; padding: 70px; position: relative; overflow: hidden;}
.book__category{
  font-family: var(--anton-font);
  font-size: 250px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: rgba(0, 0, 0, 0.03);
  height: 80%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 50px;
  margin-left: 50px;
  z-index: -1;
}
.book__category__heading p{font-weight: 300; font-size: 22px; color: #333; transition: .3s;}
.book__category__heading p:hover{color: var(--blue-light); cursor: pointer;}
.book__category__heading h1{ position: relative; font-size: 50px; font-family: var(--anton-font);}
.book__category__heading{
  margin-left: 30px;
  margin-right: 60px;
  margin-bottom: 20px;
  display: flex; justify-content: space-between;  align-items: flex-end; 
}

.slick-arrow{width: 40px; height: 40px; border-radius: 50%; }
.slick-arrow,
.slick-arrow:hover, 
.slick-arrow:active,
.slick-arrow:visited,
.slick-arrow:link{
  background: var(--blue-dark) !important;
}
.slick-arrow.slick-prev{margin-left: 20px !important;}
.slick-arrow.slick-next{margin-right: 20px !important;}
.book__carousel{ padding: 0 50px;}


/* ======= CARD PART ======== */
.card{ 
  width: 87%;
  overflow: hidden;
  border: none;
}
a.card__info{text-decoration: none; color: #000; position: relative;}
.card__option{
  position: absolute; top: 20px; right: -10px;
  opacity: 0; transition: .4s;
}
a.card__info:hover > .card__image{ opacity: 0.5;}
a.card__info:hover > .card__option{ right: 25px; opacity: 1; }
.card__option .one:hover, .two:hover, .three:hover{
  background: var(--orange); color: #fff;
}

.card__option .one, .two, .three{ 
  color: #000;
  height: 50px;
  width: 50px;
  padding: 5px; 
  margin-bottom: 10px;
  border-radius: 50%; 
  background: #fff;
  display: flex; align-items: center; justify-content: center;
}

.card .card__image{ width: 100%; padding: 0; height: 320px !important; background: #f7f7f7;}
.card .card__image img{ width: 100%; }
.card__detail{ padding: 7px; text-align: center;}
.book__title{ font-size: 20px; font-weight: 300;}
.book__price{ font-size: 18px; font-weight: 600; color: var(--orange);}


/* BOOK DETAILS */
.book__details{ margin-top: 76px; width: 100%; display: flex; flex-wrap: wrap; }
.book__image-block{ width: 40%; min-height: calc(100vh - 8px); position: relative; }
.book__image-block img{
  height: 70vh;
  position: absolute;
  top: 5%; left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.book__info-block{ width: 60%; padding: 30px 10px; }
.book__info-block .name{
  font-weight: 400; font-size: 50px;
  margin-bottom: 10px; line-height: 35px;
}
.book__info-block .author{
  font-weight: 300; font-size: 25px;
  margin-left: 30px; position: relative;
}
.book__info-block .author::before{
  content: '';
  position: absolute;
  top: 50%; left: -35px;
  width: 30px; height: 3px;
  background: var(--orange);
}
.book__info-block .ratting{  margin: 25px 0; font-size: 20px; display: flex; align-items: center; }
.book__info-block .ratting__count{ margin-left: 50px; font-size: 17px; }
.book__info-block .ratting__count i{ margin-right: 10px; }
.book__info-block .description{ margin-bottom: 10px; padding: 0 70px 0 0; font-size: 16px; font-weight: 300;}
.book__info-block .description span{ 
  color: var(--blue); font-size: 17px; font-weight: 400;
  cursor: pointer; margin-left: 10px;
}
.price{  margin-bottom: 20px; font-size: 40px;  color: var(--blue-dark); font-weight: 300;}
.price span{ font-size: 20px; background: #3366FF0F; padding: 10px; border-radius: 10px;}
.price strike { font-size: 18px; color: #ccc; margin: 0 20px 0 10px;}

.book__info-block .others-info{ display: flex; align-items: center; margin-bottom: 10px; font-size: 16px;}
.book__info-block .others-info .heading{ width: 30%; font-size: 15px;  text-transform: uppercase; font-weight: 400; }
.book__info-block .others-info .info{  width: 70%; font-weight: 300; }

.addToCart{
  display: inline-block;
  padding: 10px 30px; margin-top: 20px; font-size: 18px;
  color: var(--blue-dark); text-align: center;
  border: 2px solid var(--blue-dark); border-radius: 5px;
  cursor: pointer;
}
.addToCart:hover{
  background: linear-gradient(-45deg, var(--blue-dark) 0%, var(--blue) 100%); 
  color: #fff; border: none;
}


@media (max-width: 768px){ 
    .book__list{ padding: 20px;}
    .book__category{
      font-size: 80px;
      font-weight: 600;
      letter-spacing: 3px;
      top: 10px;
      left: -10px;
    }
    .book__category__heading{ margin-bottom: 10px; margin-left: 5px; margin-right: 10px;}
    .book__category__heading h1{ font-size: 25px; }
    .book__category__heading p{ font-size: 13px; }
    .slick-arrow{width: 20px; height: 20px;}
    .book__carousel{ padding: 0 10px 0 20px; }
    .card .card__image{ height: 120px !important; }
    .card__detail{ padding: 5px;}
    .book__title{ font-size: 12px; margin-bottom: 3px;}
    .book__price{ font-size: 12px; color: var(--blue-dark);}
}