.checkout{
    width: 100%;
    display: flex;
}
/* min-height: 100vh; */
.checkout__items{
    width: 70%;
    padding: 50px;
}
.checkout__items h1,
.checkout__calc h1{ font-family: var(--anton-font); font-size: 35px;}

.checkout__calc{
    background: #f7f7f7;
    width: 30%; height: 100vh;
    padding: 50px 25px;
    position: sticky; top: 79px;
}
.item{
    padding: 20px;
}
.item__detail{
    background: #f7f7f7;
    margin-bottom: 10px; padding: 8px 30px 8px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between; align-items: center;
    font-size: 20px;
}
.item__detail .item__image img{ height: 120px; }
.item__detail .item__name{ width: 36%; font-weight: 300; letter-spacing: -1px; font-size: 20px;}
.item__detail .item__price{ font-weight: 400; letter-spacing: -2px; font-size: 18px; }

.item__detail .item__quantity{ display: flex; align-items: center; }
.item__detail .item__quantity .amount{ margin-right: 15px; font-size: 18px;}
.item__detail .item__quantity .amount__controller div{
    width: 30px; height: 30px;
    margin-bottom: 5px; padding: 5px;
    border-radius: 50%; cursor: pointer;
    display: flex;
    justify-content: center; align-items: center;
    background: var(--blue-dark); color: #fff;
    transition: .5s;
}
.item__detail .item__total{ font-weight: 600; letter-spacing: -2px; font-size: 20px; }
.item__detail .item__delete-btn{ padding: 5px; cursor: pointer; transition: .5s;}
.item__detail .item__delete-btn i{ color: var(--blue-dark); }
.item__detail .item__delete-btn:hover, .amount__controller div:hover{ transform: scale(1.1); }

.calc{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 30px; margin-top: 20px;
    border-radius: 10px;
}
.calc__item{
    display: flex;
    align-items: center; justify-content: space-between;
    margin-bottom: 20px; font-size: 20px;
    padding: 10px 0;
    border-bottom: 1px dotted #444;
}
.calc__item .item__name{
    font-weight: 300;
}