.userProfile{
    width: 100%;
    margin-top: 80px; padding: 0 70px;
    display: flex; flex-wrap: wrap;
}
.userProfile .userProfile__user{
    width: 30%; height: calc(100vh - 80px);
    display: flex; align-items: center; justify-content: center;
}
.userProfile .userProfile__user .user__image{
    width: 100%; height: 50vh;
    background: linear-gradient(-45deg, #f2f2f2, #f7f7f7);
    border-radius: 10px; position: relative;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}
.userProfile .userProfile__user .user__image img{
    width: 200px; height: 200px; padding: 10px;
    border: 5px solid var(--blue-dark);
    border-radius: 50%; background: #fff;
    position: absolute; left: 50%; top: -100px;
    transform: translateX(-50%);
}
.userProfile .userProfile__user .user__name{
    width: 100%;
    position: absolute; top: 100px; left: 50%;
    transform: translateX(-50%);
}
.userProfile .userProfile__user .user__name h1{
    font-size: 25px; font-weight: 300; letter-spacing: -1px;
    text-align: center; margin-top: 20px;
}
.user__image .edit{
    position: absolute; bottom: 10px; right: 10px;
    background: var(--blue-ultra-light);
    padding: 8px 16px; border-radius: 8px;
    font-size: 18px; cursor: pointer;
    color: var(--blue-dark);
}
.update-image{
    width: 200px; height: 200px;
    border-radius: 50%;
    position: absolute; left: 50%; top: -100px;
    transform: translateX(-50%);
    display: flex; align-items: center; justify-content: center;
    cursor: pointer; opacity: 0; transition: .5s;
}
.update-image svg{ width: 50px; height: 50px; color: #fff;}
.user__image .edit:hover{ color: #fff; background: var(--blue-dark); }
.user__image .edit svg{ width: 18px; height: 18px; margin-right: 5px; }
.update-image:hover{ opacity: 1; background: rgba(0,0,0,0.6); }


/* ============== PROFILE INFO ============= */
.userProfile .userProfile__profile{ width: 70%; padding: 20px 20px 20px 60px;}
.userProfile .userProfile__profile h1{
    font-family: var(--anton-font);
    font-size: 30px; color: #444;
    margin-top: 30px;
}
/* profile info */
.userProfile .userProfile__profile form{ margin-top: 40px; width: 100%; }
.profile__info-block{ display: flex; margin-bottom: 25px;}
.profile__info{ width: 35%; margin-right: 30px; }
.profile__info label{font-size: 15px; font-weight: 400; margin-bottom: -5px; text-transform: uppercase;}
.profile__info-field{
    width: 100%; min-height: 50px;
    padding: 10px; font-size: 18px;
    border: 2.5px solid #ccc;
    border-radius: 5px; font-weight: 300;
}
.profile__info.phone{ width: calc(70% + 30px); }
input.profile__info-field{
    border: 2.5px solid var(--blue-dark);
}
button.update__btn{
    padding: 8px 16px; border-radius: 8px;
    background: linear-gradient(-45deg, var(--blue-dark), var(--blue));
    color: #fff; font-size: 18px;
}