.shopping {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    background: #f7f7f7;
    font-family: var(--roboto-font);
}
.shopping__tasks {
    width: 70%;
    height: fit-content;
}

.task {
    width: 100%;
    padding: 20px;
}
.shopping__tasks-task {
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
}
.shopping__tasks-task h1 {
    font-family: var(--anton-font);
    font-size: 28px;
}

.formItems {
    display: flex;
    flex-wrap: wrap;
}
.formItem {
    width: 50%;
    padding: 0 20px;
    margin-top: 10px;
}
.formItem input.form-field {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: 3px solid var(--blue-dark);
    border-radius: 5px;
    outline: none;
}
.formItem label {
    font-size: 15px;
    line-height: 15px;
    font-weight: 300;
}
button.submit {
    padding: 10px 30px;
    margin-top: 40px;
    margin-left: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(-45deg, var(--blue-dark), var(--blue));
    color: #fff;
    font-size: 18px;
}

.shopping__tasks-progress {
    margin: 20px 20px 0 20px;
    padding: 0 20px 20px 20px;
    background: #fff;
    border-radius: 10px;
}

/* ------------- PAYMENT METHODS ------------- */
.payment-options {
    width: 100%;
    margin: 20px 0 30px 0;
    display: flex;
}
.payment-options .payment-option {
    width: 20%;
    height: 7vh;
    padding: 40px 0;
    margin-right: 30px;
    min-height: 10vh;
    border: 3px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.payment-options .payment-option:hover {
    border: 3px solid var(--blue);
}
.payment-options .payment-option.active {
    position: relative;
    border: 3px solid #46cb18;
}
.payment-options .payment-option.active i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #46cb18;
    font-size: 25px;
}
.payment-options .payment-option img {
    height: 7vh;
}
.payment-options .payment-option.rocket img {
    height: 5vh;
}

/* ------------- CASH ON DELIVERY METHODS ------------- */
.CashOnDeliveryMethod {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.CashOnDeliveryMethod div {
    height: 40vh;
    width: 50%;
}
.CashOnDeliveryMethod .des {
    padding: 0 20px 0 0;
}
.CashOnDeliveryMethod .image img {
    height: 40vh;
}
.CashOnDeliveryMethod h2 {
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}
.CashOnDeliveryMethod h1 {
    font-family: var(--roboto-font);
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
}
.buttonBox {
    width: 100%;
    height: fit-content;
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.buttonBox .submit {
    margin-top: 0;
    margin-left: 20px;
}

.buttonBox button.back {
    background: transparent;
    color: var(--blue);
    border: none;
    outline: none;
    font-size: 18px;
}

@media (max-width: 768px) {
    .shopping__tasks {
        width: 100%;
    }
    .formItem {
        width: 100%;
        padding: 0 10px;
    }
    .shopping__tasks-task {
        padding: 10px;
    }
    .formItem input.form-field {
        font-size: 15px;
        padding: 5px;
        border: 2px solid var(--blue-dark);
    }
    .shopping__tasks-task h1 {
        font-size: 20px;
        margin-left: 10px;
        margin-top: 10px;
    }
}
